body {
  background: url('/images/crisp_paper_ruffles.png') no-repeat;
  background-size: cover;
  color: black;
}

#tradeTitle {
  text-align: center;
  color: white;
  font-size: 145px;
  text-shadow: 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black;
}

img {
  width: 100%;
}

select {
  width: 250px;
  font-size: 28px;
}
.btn {
  margin-bottom: 10px;
  width: 200px;
  height: 60px;
  font-size: 24px;
}

h1 {
  font-size: 80px;
}
