h1 {
  color: white;
  font-size: 145px;
  text-align: center;
  text-shadow: 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black;
}

#addBookWrapper {
  margin: 30px 0;
  text-align: center;
}

.btn.btn-info {
  display: inline-block;
  width: 100px;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

#tableWrapper {
  margin-bottom: 80px;
}

th {
  font-weight: bolder;
  font-size: 22px;
}

#registerLink, #loginLink {
  display: none;
}

#changeStatus:hover{
  cursor: pointer;
  text-decoration: none;
}

#tableWrapper {
  background-color: #ffffff;
  opacity: 0.9;
  color:black;
  padding: 20px 20px 10px 20px;
  font-size: 18px;
}

.bookIcon {
  height: 120px;
}

#noBooks {
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  padding: 5px 0 15px 0;
  color: black;
  background-color: #ffffff;
  opacity: 0.9;
}
